@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Mobile First*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15;
}

/* || Variables */
:root {
  /* || color */
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --header-color: hsl(0, 0%, 100%);
  /* || Font Family */
  --paragraph-font: "Inter", sans-serif;
  --header-font: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lexend Deca" sans-serif;
  margin: 20px 0;
}

h1,
h2 {
  font-family: var(--header-font);
}

p {
  font-family: var(--paragraph-font);
}

.card {
  background-color: hsl(244, 38%, 16%);
  width: 70%;
  box-sizing: border-box;
}

.hero {
  background-color: hsl(277, 64%, 61%);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.card__body {
  padding: 1.25rem;
}

.card__title {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  color: var(--header-color);
  font-weight: 700;
}

span {
  color: hsl(277, 64%, 61%);
}

.card__paragraph {
  text-align: center;
  margin: 1.25rem 0;
  line-height: 1.8;
  color: hsla(0, 0%, 100%, 0.75);
}

.stats__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  margin: 1.25rem 0;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
}

.stats__number {
  color: var(--header-color);
  font-size: 1rem;
}

.stats__paragraph {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.625rem;
  margin-top: 0.3125rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1.25rem;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Desktop view */

@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .card {
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
  }
  .hero,
  .card__body {
    width: 50%;
  }

  .hero img {
    height: 100%;
  }

  .card__body {
    margin: 1.25rem 2.5rem 1.25rem 1.25rem;
  }

  .card__title,
  .card__paragraph {
    text-align: left;
  }

  .card__title {
    font-size: 1.875rem;
  }

  .card__paragraph {
    font-size: 1.125rem;
    font-family: var(--paragraph-font);
    margin-top: 1.25rem;
    line-height: 1.5;
  }

  .stats__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.125rem;
  }
}
